media-domain/src/main/resources/nl/vpro/domain/media/absentnamespace.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="collection" type="collectionType"/>

  <xs:complexType name="collectionType">
    <xs:sequence>
      <xs:any processContents="lax" namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:float"/>
  </xs:complexType>
</xs:schema>

