media-tva/src/main/resources/java/util/properties.dtd

<!--
   Copyright 2006 Sun Microsystems, Inc.  Licensed under the Apache License, Version 2.0.
  -->

<!-- DTD for properties -->

<!ELEMENT properties ( comment?, entry* ) >

<!ATTLIST properties version CDATA #FIXED "1.0">

<!ELEMENT comment (#PCDATA) >

<!ELEMENT entry (#PCDATA) >

<!ATTLIST entry key CDATA #REQUIRED>
