media-domain/src/test/resources/schema/urn_vpro_media_search_2012.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema elementFormDefault="qualified" version="1.0" targetNamespace="urn:vpro:media:search:2012" xmlns="urn:vpro:media:2009" xmlns:shared="urn:vpro:shared:2009" xmlns:s="urn:vpro:media:search:2012" xmlns:tns="urn:vpro:media:search:2012" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:update="urn:vpro:media:update:2009">

  <xsd:import namespace="urn:vpro:media:2009" schemaLocation="urn_vpro_media_2009.xsd"/>

  <xsd:import namespace="urn:vpro:shared:2009" schemaLocation="urn_vpro_shared_2009.xsd"/>

  <xsd:element name="item" nillable="true" type="xsd:anyType"/>

  <xsd:element name="mediaForm" type="tns:mediaFormType"/>

  <xsd:complexType name="mediaFormType">
    <xsd:sequence>
      <xsd:element name="pager" type="tns:mediaPagerType"/>
      <xsd:element name="broadcaster" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="portal" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="organization" type="organizationType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="text" type="tns:mediaFormText" minOccurs="0"/>
      <xsd:element name="title" type="tns:titleFormType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="type" type="mediaTypeEnum" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="releaseYear" type="xsd:short" minOccurs="0"/>
      <xsd:element name="relation" type="tns:relationFormType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="noBroadcast" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="scheduleEventsCount" type="tns:integerRangeType" minOccurs="0"/>
      <xsd:element name="hasLocations" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="locationsCount" type="tns:integerRangeType" minOccurs="0"/>
      <xsd:element name="noPlaylist" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="memberOfCount" type="tns:integerRangeType" minOccurs="0"/>
      <xsd:element name="sortRange" type="tns:dateRangeType" minOccurs="0"/>
      <xsd:element name="eventRange" type="tns:dateRangeType" minOccurs="0"/>
      <xsd:element name="scheduleEventRange" type="tns:dateRangeType" minOccurs="0"/>
      <xsd:element name="channel" type="channelEnum" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="net" type="net" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="createdBy" type="tns:editorSearch" minOccurs="0"/>
      <xsd:element name="creationRange" type="tns:dateRangeType" minOccurs="0"/>
      <xsd:element name="lastModifiedBy" type="tns:editorSearch" minOccurs="0"/>
      <xsd:element name="lastModifiedRange" type="tns:dateRangeType" minOccurs="0"/>
      <xsd:element name="lastPublishedRange" type="tns:dateRangeType" minOccurs="0"/>
      <xsd:element name="tag" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="avType" type="avTypeEnum" minOccurs="0"/>
      <xsd:element name="notAnEpisode" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="episodeOfCount" type="tns:integerRangeType" minOccurs="0"/>
      <xsd:element name="noMembers" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="noCredits" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="imagesWithoutCreditsCount" type="tns:integerRangeType" minOccurs="0"/>
      <xsd:element name="imagesCount" type="tns:integerRangeType" minOccurs="0"/>
      <xsd:element name="findDeleted" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="excludedMid" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ids" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="descendantOf" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="streamingPlatformStatus" type="streamingStatus" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="forOwner" type="shared:ownerTypeEnum"/>
  </xsd:complexType>

  <xsd:complexType name="mediaPagerType">
    <xsd:sequence>
      <xsd:element name="offset" type="xsd:long" minOccurs="0"/>
      <xsd:element name="max" type="xsd:int" minOccurs="0"/>
      <xsd:element name="sort" type="tns:mediaSortField" minOccurs="0"/>
      <xsd:element name="order" type="tns:direction" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="mediaFormText">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="booleanOperator" type="tns:booleanOperator"/>
        <xsd:attribute name="exactMatching" type="xsd:boolean"/>
        <xsd:attribute name="implicitWildcard" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="titleFormType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="textualTypeEnum"/>
        <xsd:attribute name="owner" type="shared:ownerTypeEnum"/>
        <xsd:attribute name="tokenized" type="xsd:boolean" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="relationFormType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="broadcaster" type="xsd:string"/>
        <xsd:attribute name="uriRef" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="integerRangeType">
    <xsd:sequence>
      <xsd:element name="start" type="tns:integerRangeValueType" minOccurs="0"/>
      <xsd:element name="stop" type="tns:integerRangeValueType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="integerRangeValueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="inclusive" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="dateRangeType">
    <xsd:sequence>
      <xsd:element name="start" type="tns:dateRangeValueType" minOccurs="0"/>
      <xsd:element name="stop" type="tns:dateRangeValueType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dateRangeValueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="inclusive" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="editorSearch">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="principalId" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="mediaSearchResultType">
    <xsd:complexContent>
      <xsd:extension base="tns:searchResult">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="searchResult" abstract="true">
    <xsd:sequence>
      <xsd:element name="count" type="xsd:long" minOccurs="0"/>
      <xsd:element name="result" type="xsd:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="mediaListItem">
    <xsd:complexContent>
      <xsd:extension base="tns:publishableListItem">
        <xsd:sequence>
          <xsd:element name="broadcaster" type="broadcasterType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="title" type="xsd:string" minOccurs="0"/>
          <xsd:element name="subTitle" type="xsd:string" minOccurs="0"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="lastModified" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="createdBy" type="xsd:string" minOccurs="0"/>
          <xsd:element name="lastModifiedBy" type="xsd:string" minOccurs="0"/>
          <xsd:element name="sortDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="type" type="mediaTypeEnum" minOccurs="0"/>
          <xsd:element name="publishStart" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="publishStop" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="lastPublished" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="firstScheduleEvent" type="scheduleEventType" minOccurs="0"/>
          <xsd:element name="firstScheduleEventNoRerun" type="scheduleEventType" minOccurs="0"/>
          <xsd:element name="lastScheduleEvent" type="scheduleEventType" minOccurs="0"/>
          <xsd:element name="lastScheduleEventNoRerun" type="scheduleEventType" minOccurs="0"/>
          <xsd:element name="sortDateScheduleEvent" type="scheduleEventType" minOccurs="0"/>
          <xsd:element name="locations" type="locationType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="numberOfLocations" type="xsd:int" minOccurs="0"/>
          <xsd:element name="numberOfPublishedLocations" type="xsd:int" minOccurs="0"/>
          <xsd:element name="tag" type="tagType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="image" type="tns:imageListItem" minOccurs="0"/>
          <xsd:element name="streamingPlatformStatus" type="streamingStatus" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="mid" type="xsd:string"/>
        <xsd:attribute name="avType" type="avTypeEnum"/>
        <xsd:attribute name="mediaType" type="xsd:string"/>
        <xsd:attribute name="episodesLocked" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="publishableListItem" abstract="true">
    <xsd:sequence/>
    <xsd:attribute name="id" type="xsd:long"/>
    <xsd:attribute name="urn" type="xsd:string"/>
    <xsd:attribute name="workflow" type="shared:workflowEnumType"/>
    <xsd:attribute name="deleted" type="xsd:boolean"/>
  </xsd:complexType>

  <xsd:complexType name="imageListItem">
    <xsd:complexContent>
      <xsd:extension base="tns:publishableListItem">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="mediaSortField">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="sortTitle"/>
      <xsd:enumeration value="sortTitle_NPO"/>
      <xsd:enumeration value="mid"/>
      <xsd:enumeration value="type"/>
      <xsd:enumeration value="mediaType"/>
      <xsd:enumeration value="sortDate"/>
      <xsd:enumeration value="lastModified"/>
      <xsd:enumeration value="creationDate"/>
      <xsd:enumeration value="publishStop"/>
      <xsd:enumeration value="publishStart"/>
      <xsd:enumeration value="lastPublished"/>
      <xsd:enumeration value="lastModifiedBy"/>
      <xsd:enumeration value="createdBy"/>
      <xsd:enumeration value="locations"/>
      <xsd:enumeration value="publishedLocations"/>
      <xsd:enumeration value="memberofCount"/>
      <xsd:enumeration value="episodeofCount"/>
      <xsd:enumeration value="scheduleEventsCount"/>
      <xsd:enumeration value="imagesCount"/>
      <xsd:enumeration value="publishedImagesCount"/>
      <xsd:enumeration value="imagesWithoutCreditsCount"/>
      <xsd:enumeration value="firstScheduleEvent"/>
      <xsd:enumeration value="firstScheduleEventNoRerun"/>
      <xsd:enumeration value="lastScheduleEvent"/>
      <xsd:enumeration value="lastScheduleEventNoRerun"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="direction">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ASC"/>
      <xsd:enumeration value="DESC"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="booleanOperator">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AND"/>
      <xsd:enumeration value="OR"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>

