media-domain/src/test/resources/schema/urn_vpro_media_update_2009.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="urn:vpro:media:update:2009" xmlns="urn:vpro:media:update:2009" xmlns:shared="urn:vpro:shared:2009" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="urn:vpro:media:update:2009" xmlns:media="urn:vpro:media:2009" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="urn:vpro:media:2009" schemaLocation="urn_vpro_media_2009.xsd"/>

  <xs:import namespace="urn:vpro:shared:2009" schemaLocation="urn_vpro_shared_2009.xsd"/>

  <xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="https://www.w3.org/2005/05/xmlmime"/>
  <xs:element name="geoLocation" type="geoLocationUpdateType"/>

  <xs:element name="group" type="groupUpdateType"/>

  <xs:element name="image" type="imageUpdateType"/>

  <xs:element name="itemize" type="itemizeType"/>

  <xs:element name="itemizeResponse" type="itemizeResponseType"/>

  <xs:element name="liveitemize" type="liveItemize"/>

  <xs:element name="location" type="locationUpdateType"/>

  <xs:element name="memberRef" type="memberRefUpdateType"/>

  <xs:element name="memberUpdate" type="memberUpdateType"/>

  <xs:element name="midAndType" type="midAndTypeType"/>

  <xs:element name="move" type="moveActionType"/>

  <xs:element name="name" type="nameUpdateType"/>

  <xs:element name="person" type="personUpdateType"/>

  <xs:element name="prediction" type="predictionUpdateType"/>

  <xs:element name="program" type="programUpdateType"/>

  <xs:element name="segment" type="segmentUpdateType"/>

  <xs:element name="topic" type="topicUpdateType"/>

  <xs:element name="transcode" type="transcodeType"/>

  <xs:element name="transcodeStatus" type="transcodeStatusType"/>

  <xs:element name="uploadResponse" type="uploadResponseType"/>

  <xs:complexType name="midAndTypeType">
    <xs:sequence>
      <xs:element name="crid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="mid" type="xs:string"/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="type" type="media:mediaTypeEnum"/>
  </xs:complexType>

  <xs:complexType name="programUpdateType" final="extension restriction">
    <xs:sequence>
      <xs:element name="crid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="broadcaster" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="portal" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclusive" type="portalRestrictionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="region" type="geoRestrictionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="title" type="titleUpdateType" maxOccurs="unbounded"/>
      <xs:element name="description" type="descriptionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="language" type="languageType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="genre" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="intentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="intention" type="media:intentionEnum" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetGroups" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="targetGroup" type="media:targetGroupEnum" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="geoLocations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="geoLocation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topics" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="avAttributes" type="avAtributeUpdateType" minOccurs="0"/>
      <xs:element name="releaseYear" type="xs:short" minOccurs="0"/>
      <xs:element name="duration" type="xs:duration" minOccurs="0"/>
      <xs:element name="credits" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="person"/>
              <xs:element ref="name"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="memberOf" type="memberRefUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ageRating" type="media:ageRating" minOccurs="0"/>
      <xs:element name="contentRating" type="media:contentRatingEnum" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="website" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="twitterref" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prediction" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="locations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="location" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="scheduleEvents" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="scheduleEvent" type="scheduleEventUpdateType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="relation" type="relationUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="images" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="asset" type="assetType" minOccurs="0"/>
      <xs:element name="episodeOf" type="memberRefUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="segments" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="segment" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="avType" type="media:avTypeEnum"/>
    <xs:attribute name="deleted" type="xs:boolean"/>
    <xs:attribute name="embeddable" type="xs:boolean"/>
    <xs:attribute name="mid" type="xs:string"/>
    <xs:attribute name="publishStart" type="xs:dateTime"/>
    <xs:attribute name="publishStop" type="xs:dateTime"/>
    <xs:attribute name="type" type="media:programTypeEnum" use="required"/>
    <xs:attribute name="urn" type="xs:string"/>
    <xs:attribute name="version" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="portalRestrictionUpdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="start" type="xs:dateTime"/>
        <xs:attribute name="stop" type="xs:dateTime"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="geoRestrictionUpdateType">
    <xs:simpleContent>
      <xs:extension base="media:region">
        <xs:attribute name="start" type="xs:dateTime"/>
        <xs:attribute name="stop" type="xs:dateTime"/>
        <xs:attribute name="platform" type="media:platformTypeEnum"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="titleUpdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="media:textualTypeEnum" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="descriptionUpdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="media:textualTypeEnum" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="languageType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="usage" type="media:languageUsageEnum"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="geoLocationUpdateType">
    <xs:sequence/>
    <xs:attribute name="gtaaUri" type="xs:string" use="required"/>
    <xs:attribute name="role" type="media:geoRoleType" use="required"/>
  </xs:complexType>

  <xs:complexType name="topicUpdateType">
    <xs:sequence/>
    <xs:attribute name="gtaaUri" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="avAtributeUpdateType">
    <xs:sequence>
      <xs:element name="bitrate" type="xs:int" minOccurs="0"/>
      <xs:element name="byteSize" type="xs:long" minOccurs="0"/>
      <xs:element name="avFileFormat" type="media:avFileFormatEnum" minOccurs="0"/>
      <xs:element name="videoAttributes" type="videoAttributesUpdateType" minOccurs="0"/>
      <xs:element name="audioAttributes" type="audioAttributesUpdateType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="videoAttributesUpdateType">
    <xs:sequence>
      <xs:element name="aspectRatio" type="media:aspectRatio" minOccurs="0"/>
      <xs:element name="color" type="media:colorType" minOccurs="0"/>
      <xs:element name="coding" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="width" type="xs:int"/>
    <xs:attribute name="height" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="audioAttributesUpdateType">
    <xs:sequence>
      <xs:element name="channels" type="xs:int" minOccurs="0"/>
      <xs:element name="coding" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personUpdateType">
    <xs:complexContent>
      <xs:extension base="creditsUpdate">
        <xs:sequence>
          <xs:element name="givenName" type="xs:string" minOccurs="0"/>
          <xs:element name="familyName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="gtaaUri" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="creditsUpdate" abstract="true">
    <xs:sequence/>
    <xs:attribute name="role" type="media:roleType" use="required"/>
  </xs:complexType>

  <xs:complexType name="nameUpdateType">
    <xs:complexContent>
      <xs:extension base="creditsUpdate">
        <xs:sequence/>
        <xs:attribute name="gtaaUri" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="memberRefUpdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="position" type="xs:int"/>
        <xs:attribute name="highlighted" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="predictionUpdateType">
    <xs:simpleContent>
      <xs:extension base="media:platformTypeEnum">
        <xs:attribute name="publishStart" type="xs:dateTime"/>
        <xs:attribute name="publishStop" type="xs:dateTime"/>
        <xs:attribute name="encryption" type="media:encryption"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="locationUpdateType">
    <xs:sequence>
      <xs:element name="programUrl" type="xs:string"/>
      <xs:element name="avAttributes" type="avAtributeUpdateType"/>
      <xs:element name="offset" type="xs:duration" minOccurs="0"/>
      <xs:element name="duration" type="xs:duration" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="publishStart" type="xs:dateTime"/>
    <xs:attribute name="publishStop" type="xs:dateTime"/>
    <xs:attribute name="urn" type="xs:string"/>
    <xs:attribute name="delete" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="scheduleEventUpdateType">
    <xs:sequence>
      <xs:element name="start" type="xs:dateTime"/>
      <xs:element name="guideDay" type="xs:date" minOccurs="0"/>
      <xs:element name="duration" type="xs:duration"/>
      <xs:element name="repeat" type="repeatType" minOccurs="0"/>
      <xs:element name="titles" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="titleUpdateType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="descriptions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="description" type="descriptionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="channel" type="media:channelEnum" use="required"/>
    <xs:attribute name="net" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="repeatType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="isRerun" type="xs:boolean" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="relationUpdateType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="broadcaster" type="xs:string" use="required"/>
        <xs:attribute name="uriRef" type="xs:string"/>
        <xs:attribute name="urn" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="imageUpdateType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="source" type="xs:string" minOccurs="0"/>
      <xs:element name="sourceName" type="xs:string" minOccurs="0"/>
      <xs:element name="license" type="shared:licenseEnum" minOccurs="0"/>
      <xs:element name="width" type="xs:int" minOccurs="0"/>
      <xs:element name="height" type="xs:int" minOccurs="0"/>
      <xs:element name="credits" type="xs:string" minOccurs="0"/>
      <xs:element name="date" type="xs:string" minOccurs="0"/>
      <xs:element name="offset" type="xs:duration" minOccurs="0"/>
      <xs:choice minOccurs="0">
        <xs:element name="imageData" type="imageDataType"/>
        <xs:element name="imageLocation" type="imageLocationType"/>
        <xs:element name="urn" type="xs:string"/>
      </xs:choice>
      <xs:element name="crid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="shared:imageTypeEnum" use="required"/>
    <xs:attribute name="urn" type="xs:string"/>
    <xs:attribute name="publishStart" type="xs:dateTime"/>
    <xs:attribute name="publishStop" type="xs:dateTime"/>
    <xs:attribute name="highlighted" type="xs:boolean" use="required"/>
    <xs:attribute name="delete" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="imageDataType">
    <xs:sequence>
      <xs:element name="data" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="imageLocationType">
    <xs:sequence>
      <xs:element name="mimeType" type="xs:string" minOccurs="0"/>
      <xs:element name="url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assetType">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element name="assetData" type="assetDataType"/>
        <xs:element name="assetLocation" type="assetLocationType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="publishStart" type="xs:dateTime"/>
    <xs:attribute name="publishStop" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="assetDataType">
    <xs:sequence>
      <xs:element name="data" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assetLocationType">
    <xs:sequence>
      <xs:element name="url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="segmentUpdateType" final="extension restriction">
    <xs:sequence>
      <xs:element name="crid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="broadcaster" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="portal" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclusive" type="portalRestrictionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="region" type="geoRestrictionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="title" type="titleUpdateType" maxOccurs="unbounded"/>
      <xs:element name="description" type="descriptionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="language" type="languageType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="genre" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="intentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="intention" type="media:intentionEnum" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetGroups" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="targetGroup" type="media:targetGroupEnum" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="geoLocations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="geoLocation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topics" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="avAttributes" type="avAtributeUpdateType" minOccurs="0"/>
      <xs:element name="releaseYear" type="xs:short" minOccurs="0"/>
      <xs:element name="duration" type="xs:duration"/>
      <xs:element name="credits" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="person"/>
              <xs:element ref="name"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="memberOf" type="memberRefUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ageRating" type="media:ageRating" minOccurs="0"/>
      <xs:element name="contentRating" type="media:contentRatingEnum" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="website" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="twitterref" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prediction" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="locations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="location" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="relation" type="relationUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="images" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="asset" type="assetType" minOccurs="0"/>
      <xs:element name="start" type="xs:duration"/>
    </xs:sequence>
    <xs:attribute name="chapterType" type="media:chapterType"/>
    <xs:attribute name="avType" type="media:avTypeEnum"/>
    <xs:attribute name="deleted" type="xs:boolean"/>
    <xs:attribute name="embeddable" type="xs:boolean"/>
    <xs:attribute name="mid" type="xs:string"/>
    <xs:attribute name="midRef" type="xs:string"/>
    <xs:attribute name="publishStart" type="xs:dateTime"/>
    <xs:attribute name="publishStop" type="xs:dateTime"/>
    <xs:attribute name="type" type="media:segmentTypeEnum"/>
    <xs:attribute name="urn" type="xs:string"/>
    <xs:attribute name="version" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="groupUpdateType" final="extension restriction">
    <xs:sequence>
      <xs:element name="crid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="broadcaster" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="portal" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="exclusive" type="portalRestrictionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="region" type="geoRestrictionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="title" type="titleUpdateType" maxOccurs="unbounded"/>
      <xs:element name="description" type="descriptionUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="country" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="language" type="languageType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="genre" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="intentions" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="intention" type="media:intentionEnum" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="targetGroups" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="targetGroup" type="media:targetGroupEnum" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="geoLocations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="geoLocation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="topics" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="topic" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="avAttributes" type="avAtributeUpdateType" minOccurs="0"/>
      <xs:element name="releaseYear" type="xs:short" minOccurs="0"/>
      <xs:element name="duration" type="xs:duration" minOccurs="0"/>
      <xs:element name="credits" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="person"/>
              <xs:element ref="name"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="memberOf" type="memberRefUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ageRating" type="media:ageRating" minOccurs="0"/>
      <xs:element name="contentRating" type="media:contentRatingEnum" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="website" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="twitterref" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prediction" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="locations" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="location" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="relation" type="relationUpdateType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="images" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="image" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="asset" type="assetType" minOccurs="0"/>
      <xs:element name="poSeriesID" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="avType" type="media:avTypeEnum"/>
    <xs:attribute name="deleted" type="xs:boolean"/>
    <xs:attribute name="embeddable" type="xs:boolean"/>
    <xs:attribute name="mid" type="xs:string"/>
    <xs:attribute name="ordered" type="xs:boolean"/>
    <xs:attribute name="publishStart" type="xs:dateTime"/>
    <xs:attribute name="publishStop" type="xs:dateTime"/>
    <xs:attribute name="type" type="media:groupTypeEnum" use="required"/>
    <xs:attribute name="urn" type="xs:string"/>
    <xs:attribute name="version" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="moveActionType">
    <xs:sequence>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="to" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="type" type="moveActionTypeType"/>
  </xs:complexType>

  <xs:complexType name="bulkUpdateType">
    <xs:sequence>
      <xs:element name="titles" type="titleUpdateType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="descriptions" type="descriptionUpdateType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="tags" type="media:tagType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="uploadResponseType">
    <xs:sequence>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="response" type="xs:string" minOccurs="0"/>
      <xs:element name="bytes" type="xs:long" minOccurs="0"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
      <xs:element name="retryable" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="statusCode" type="xs:int" use="required"/>
    <xs:attribute name="mid" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="transcodeType">
    <xs:sequence>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
      <xs:element name="encryption" type="media:encryption" minOccurs="0"/>
      <xs:element name="priority" type="priorityType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="mid" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="transcodeStatusType">
    <xs:sequence>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="transcodeStatusEnum" minOccurs="0"/>
      <xs:element name="statusMessage" type="xs:string" minOccurs="0"/>
      <xs:element name="workflowType" type="xs:string" minOccurs="0"/>
      <xs:element name="workflowId" type="xs:string" minOccurs="0"/>
      <xs:element name="startTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="updateTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="endTime" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="broadcasters" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="broadcaster" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="crids" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="crids" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="mid" type="xs:string"/>
    <xs:attribute name="missingMedia" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="itemizeType">
    <xs:sequence>
      <xs:element name="start" type="xs:duration" minOccurs="0"/>
      <xs:element name="stop" type="xs:duration"/>
    </xs:sequence>
    <xs:attribute name="mid" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="liveItemize">
    <xs:sequence>
      <xs:element name="start" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="stop" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="stream" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="itemizeResponseType">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element name="request" type="itemizeType"/>
        <xs:element name="liverequest" type="liveItemize"/>
      </xs:choice>
      <xs:element name="result" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="success" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:complexType name="memberUpdateType">
    <xs:sequence>
      <xs:element name="mediaUpdate" type="xs:anyType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="position" type="xs:int"/>
    <xs:attribute name="id" type="xs:long"/>
    <xs:attribute name="highlighted" type="xs:boolean" use="required"/>
  </xs:complexType>

  <xs:simpleType name="moveActionTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REFERENCE"/>
      <xs:enumeration value="REF_ID"/>
      <xs:enumeration value="NUMBER"/>
      <xs:enumeration value="INDEX"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="priorityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW"/>
      <xs:enumeration value="NORMAL"/>
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="URGENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="transcodeStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RUNNING"/>
      <xs:enumeration value="COMPLETED"/>
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="TIMED_OUT"/>
      <xs:enumeration value="TERMINATED"/>
      <xs:enumeration value="PAUSED"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

