media-nebo/src/main/resources/nl/vpro/domain/media/nebo/nebo_history_import_1.0.2.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>
			NPO historie XSD 1.0
			Copyright 2011 NPO
		</xs:documentation>
	</xs:annotation>

	<!-- global element(s) -->
	<xs:element name="prid" type="xs:string" />
	<xs:element name="titel" type="xs:string" />
	<xs:element name="tite" type="xs:string" />
	<xs:element name="atit" type="xs:string" />
	<xs:element name="bron" type="xs:string" />
	<xs:element name="gids_tekst" type="xs:string" />
	<xs:element name="icon" type="xs:string" />
	<xs:element name="inbb" type="xs:string" fixed="BB" />
	<xs:element name="infi" type="xs:string" fixed="F" />
	<xs:element name="inkl" type="xs:string" />
	<xs:element name="ingl" type="xs:string" />
	<xs:element name="inak" type="xs:string" />
	<xs:element name="inds" type="xs:string" />
	<xs:element name="tite_verrijking" type="xs:string" />
	<xs:element name="icon_verrijking" type="xs:string" />
	<xs:element name="inh1_verrijking" type="xs:string" />
	<xs:element name="atit_verrijking" type="xs:string" />
	<xs:element name="inh2_verrijking" type="xs:string" />
	<xs:element name="inh3_verrijking" type="xs:string" />
	<xs:element name="inhk_verrijking" type="xs:string" />
	<xs:element name="mail_verrijking" type="xs:string" />
	<xs:element name="webs_verrijking" type="xs:string" />
	<xs:element name="gids_tekst_verrijking" type="xs:string" />
	<xs:element name="inh1" type="xs:string" />
	<xs:element name="inh2" type="xs:string" />
	<xs:element name="inh3" type="xs:string" />
	<xs:element name="inhk" type="xs:string" />
	<xs:element name="kykw" type="xs:string" /> 
	<xs:element name="land" type="xs:string" />
	<xs:element name="lcod" type="xs:string" />
	<xs:element name="mail" type="xs:string" />
	<xs:element name="medium" type="xs:string" />
	<xs:element name="prem" type="xs:nonNegativeInteger" />
	<xs:element name="psrt" type="xs:string" />
	<xs:element name="orti" type="xs:string" />
	<xs:element name="webs" type="xs:string" />
	<xs:element name="prij" type="xs:string" />
	<xs:element name="wijzigingsdatum" type="xs:string" />
	<xs:element name="omschrijving" type="xs:string" />

	<!-- specific genre element(s) -->
	<xs:element name="genre" type="xs:string" />

	<!-- specific omroep element(s) -->
	<xs:element name="omroep" type="xs:string" />

	<!-- specific serie element(s) -->
	<xs:element name="srid" type="xs:string" />
	<xs:element name="lexico_titel" type="xs:string" />
	<xs:element name="start_jaar" type="xs:nonNegativeInteger" />
	<xs:element name="rss_url" type="xs:string" />

	<!-- specific zender element(s) -->
	<xs:element name="code" type="xs:string" />
	
	<!-- specific persoon element(s) -->
	<xs:element name="naam" type="xs:string" />
	<xs:element name="geslacht" type="xs:string" />
	<xs:element name="nationaliteit" type="xs:string" />
	<xs:element name="geboortejaar" type="xs:string" />
	<xs:element name="overlijdingsjaar" type="xs:string" />
	
	<!-- specific fragment element(s) -->
	<xs:element name="trefwoorden" type="xs:string" />
	<xs:element name="starttijd" type="xs:string" />
	<xs:element name="eindtijd" type="xs:string" />
	
	<!-- specific stream element(s) -->
	<xs:element name="player_url" type="xs:string" />

	<!-- specific uitzendingen element(s) -->
	<xs:element name="gids_datum" type="xs:string" />
	<xs:element name="begi" type="xs:string" />
	<xs:element name="eind" type="xs:string" />
	<xs:element name="herh" type="xs:string" />
	<xs:element name="intt" type="xs:string" fixed="T" />
	<xs:element name="inhh" type="xs:string" fixed="HH" />
	<xs:element name="inci" type="xs:string" />
	<xs:element name="vpsc" type="xs:string" />
	<xs:element name="ttpg" type="xs:string" />
	<xs:element name="type" type="xs:string" />

	<!-- genres container -->
	<xs:element name="genres">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="genre" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- rol container -->
	<xs:element name="rol">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!-- persoon container -->
	<xs:element name="persoon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rol" minOccurs="1" maxOccurs="unbounded" />
				<xs:element ref="naam" minOccurs="1" maxOccurs="1" />
				<xs:element ref="geslacht" minOccurs="0" maxOccurs="1" />
				<xs:element ref="nationaliteit" minOccurs="0" maxOccurs="1" />
				<xs:element ref="geboortejaar" minOccurs="0" maxOccurs="1" />
				<xs:element ref="overlijdingsjaar" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
		</xs:complexType>
	</xs:element>
																			
	<!-- personen container -->
	<xs:element name="personen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="persoon" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- stream container -->
	<xs:element name="stream">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
					<xs:attribute name="compressie_kwaliteit" type="xs:string" use="required" />
					<xs:attribute name="compressie_formaat" type="xs:string" use="required" />
					<xs:attribute name="wijzigingsdatum" type="xs:string" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<!-- streams container -->
	<xs:element name="streams">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="player_url" minOccurs="1" maxOccurs="1" />
				<xs:element ref="stream" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="webcast_toegestaan" type="xs:string" use="required" />
			<xs:attribute name="publicatie_start" type="xs:string" use="required" />
			<xs:attribute name="publicatie_eind" type="xs:string" use="required" />
			<xs:attribute name="aspect_ratio" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<!-- fragment container -->
	<xs:element name="fragment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titel" minOccurs="1" maxOccurs="1" />
				<xs:element ref="omschrijving" minOccurs="0" maxOccurs="1" />
				<xs:element ref="trefwoorden" minOccurs="0" maxOccurs="1" />
				<xs:element ref="starttijd" minOccurs="1" maxOccurs="1" />
				<xs:element ref="eindtijd" minOccurs="1" maxOccurs="1" />
				<xs:element ref="wijzigingsdatum" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
		</xs:complexType>
	</xs:element>
	
	<!-- fragmenten container -->
	<xs:element name="fragmenten">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fragment" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- omroepen container -->
	<xs:element name="omroepen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="omroep" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- serie container -->
	<xs:element name="serie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="titel" minOccurs="1" maxOccurs="1" />
				<xs:element ref="lexico_titel" minOccurs="0" maxOccurs="1" />
				<xs:element ref="omschrijving" minOccurs="0" maxOccurs="1" />
				<xs:element ref="icon" minOccurs="0" maxOccurs="1" />
				<xs:element ref="start_jaar" minOccurs="0" maxOccurs="1" />
				<xs:element ref="orti" minOccurs="0" maxOccurs="1" />
				<xs:element ref="lcod" minOccurs="0" maxOccurs="1" />
				<xs:element ref="psrt" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh1" minOccurs="0" maxOccurs="1" />
				<xs:element ref="bron" minOccurs="0" maxOccurs="1" />
				<xs:element ref="prij" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="mail" minOccurs="0" maxOccurs="1" />
				<xs:element ref="webs" minOccurs="0" maxOccurs="1" />
				<xs:element ref="gids_tekst" minOccurs="0" maxOccurs="1" />
				<xs:element ref="rss_url" minOccurs="0" maxOccurs="1" />

				<xs:element ref="omroepen" minOccurs="0" maxOccurs="1" />
				<xs:element ref="genres" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
			<xs:attribute name="srid" type="xs:string" use="required" />			
		</xs:complexType>
	</xs:element>

	<!-- uitzendingen container -->
	<xs:element name="uitzendingen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="uitzending" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- zender container -->
	<xs:element name="zender">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code" minOccurs="1" maxOccurs="1" />
				<xs:element ref="naam" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- uitzending container -->
	<xs:element name="uitzending">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type" minOccurs="0" maxOccurs="1" />
				<xs:element ref="gids_datum" minOccurs="1" maxOccurs="1" />
				<xs:element ref="begi" minOccurs="1" maxOccurs="1" />
				<xs:element ref="eind" minOccurs="1" maxOccurs="1" />
				<xs:element ref="zender" minOccurs="1" maxOccurs="1" />
				<xs:element ref="inci" minOccurs="0" maxOccurs="1" />
				<xs:element ref="intt" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inhh" minOccurs="0" maxOccurs="1" />
				<xs:element ref="herh" minOccurs="0" maxOccurs="1" />
				<xs:element ref="vpsc" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ttpg" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="pepeid" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

	<!-- aflevering / main container -->
	<xs:element name="aflevering">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prid" minOccurs="1" maxOccurs="1" />
				<xs:element ref="tite" minOccurs="1" maxOccurs="1" />
				<xs:element ref="atit" minOccurs="0" maxOccurs="1" />
				<xs:element ref="medium" minOccurs="0" maxOccurs="1" />
				<xs:element ref="icon" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inkl" minOccurs="0" maxOccurs="1" />
				<xs:element ref="ingl" minOccurs="0" maxOccurs="1" />
				<xs:element ref="infi" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inak" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inds" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inbb" minOccurs="0" maxOccurs="1" />
				<xs:element ref="kykw" minOccurs="0" maxOccurs="1" /> 
				<xs:element ref="orti" minOccurs="0" maxOccurs="1" />
				<xs:element ref="lcod" minOccurs="0" maxOccurs="1" />
				<xs:element ref="psrt" minOccurs="0" maxOccurs="1" />
				<xs:element ref="prem" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh1" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="bron" minOccurs="0" maxOccurs="1" />
				<xs:element ref="prij" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="mail" minOccurs="0" maxOccurs="1" />
				<xs:element ref="webs" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inhk" minOccurs="0" maxOccurs="1" />
				<xs:element ref="gids_tekst" minOccurs="0" maxOccurs="1" />

				<xs:element ref="tite_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="icon_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh1_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="atit_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh2_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inh3_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="inhk_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="mail_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="webs_verrijking" minOccurs="0" maxOccurs="1" />
				<xs:element ref="gids_tekst_verrijking" minOccurs="0" maxOccurs="1" />

				<xs:element ref="omroepen"  minOccurs="1" maxOccurs="1" />
				<xs:element ref="genres" minOccurs="0" maxOccurs="1" />
				<xs:element ref="personen" minOccurs="0" maxOccurs="1" />
				<xs:element ref="uitzendingen" minOccurs="1" maxOccurs="1" />
				<xs:element ref="streams" minOccurs="1" maxOccurs="1" />
				<xs:element ref="fragmenten" minOccurs="0" maxOccurs="1" />
				<xs:element ref="serie" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
		</xs:complexType>
	</xs:element>
	
</xs:schema>