media-nebo/src/main/resources/nl/vpro/domain/media/nebo/webonly_export_1.4.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >

	<xs:annotation>
		<xs:documentation>
			NEBO WebOnly Export XSD 1.3
			Copyright 2012 NPO
		</xs:documentation>
	</xs:annotation>

	<!-- root container -->
	<xs:element name="nebo_xml" type="rootType">
		<xs:unique name="referentieUnique">
			<xs:selector xpath="./webonly/referenties/referentie" />
			<xs:field xpath="@id" />
		</xs:unique>
		<xs:unique name="streamUnique">
			<xs:selector xpath="./webonly/media/streams/stream" />
			<xs:field xpath="@formaat" />
			<xs:field xpath="@kwaliteit" />
		</xs:unique>

		<xs:keyref name="metaRefKeyRef" refer="referentieRef">
			<xs:selector xpath="./metadata_referenties/metadata_referentie" />
			<xs:field xpath="@id" />
		</xs:keyref>

		<xs:key name="referentieRef">
			<xs:selector xpath="./webonly/referenties/referentie" />
			<xs:field xpath="@id" />
		</xs:key>

		<xs:keyref name="metaKeyRef" refer="metaReferentieRef">
			<xs:selector xpath="./webonly/referenties/referentie" />
			<xs:field xpath="@id" />
		</xs:keyref>

		<xs:key name="metaReferentieRef">
			<xs:selector xpath="./metadata_referenties/metadata_referentie" />
			<xs:field xpath="@id" />
		</xs:key>

		<xs:unique name="metaRefUnique">
		  <xs:selector xpath="./metadata_referenties/metadata_referentie"/>
		  <xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>

	<!-- Type container specifications -->

		<!-- root specification -->
		<xs:complexType name="rootType">
			<xs:sequence>
				<xs:element name="webonly" type="webonlyType" minOccurs="1" maxOccurs="1" />
				<xs:element name="metadata_referenties" type="metadata_referentiesType" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required" fixed="webonly" />
			<xs:attribute name="timestamp" type="xs:dateTime" use="required" />
		</xs:complexType>

		<!-- webonly specification -->
		<xs:complexType name="webonlyType">
			<xs:sequence>
				<xs:element name="prid" type="WEBPRIDResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="srid" type="IDResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="titel" type="stringResType255" minOccurs="1" maxOccurs="1" />

				<xs:element name="subtitel" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="email" type="emailResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="nicamcodes" type="nicamWarningCodesResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="omschrijving_kort" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="omschrijving_lang" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="website" type="httpURIResType" minOccurs="0" maxOccurs="1" />

				<xs:element name="media" type="mediaType" minOccurs="0" maxOccurs="1" />
				<xs:element name="categorieen" type="categorieenType" minOccurs="0" maxOccurs="1" />
				<xs:element name="genres" type="genresType" minOccurs="0" maxOccurs="1" />
				<xs:element name="omroepen" type="omroepenType" minOccurs="1" maxOccurs="1" />
				<xs:element name="referenties" type="referentiesType" minOccurs="0" maxOccurs="1" />

				<xs:element name="bron" type="stringResType100" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
		</xs:complexType>
	
		<!-- media specification -->
		<xs:complexType name="mediaType">
			<xs:sequence>
				<xs:element name="streams" type="streamsType" minOccurs="0" maxOccurs="1" />
				<xs:element name="nebo_icon" type="nebo_iconType" minOccurs="0" maxOccurs="1" />
				<xs:element name="icon" type="iconType" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>

		<!-- streams specification -->
		<xs:complexType name="streamsType">
			<xs:sequence>
				<xs:element name="stream" type="streamType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="publicatie_startdatumtijd" type="xs:dateTime" use="required" />
			<xs:attribute name="publicatie_einddatumtijd" type="xs:dateTime" />
			<xs:attribute name="aspect_ratio" type="aspectratioResType" use="required" />
		</xs:complexType>

		<!-- NEBO icon specification -->
		<xs:complexType name="nebo_iconType">
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
		</xs:complexType>

		<!-- icon specification -->
		<xs:complexType name="iconType">
			<xs:sequence maxOccurs="1">
				<xs:element name="file" type="iconFileResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="titel" type="stringResType255" minOccurs="1" maxOccurs="1" />
				<xs:element name="omschrijving" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="keywords" type="stringResType255" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>

		<!-- stream specification -->
		<xs:complexType name="streamType">
			<xs:simpleContent>
				<xs:extension base="httpURIResType">
					<xs:attribute name="kwaliteit" type="qualityResType" use="required" />
					<xs:attribute name="formaat" type="formatResType" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>

		<!-- categorieen specification -->
		<xs:complexType name="categorieenType">
			<xs:sequence>
				<xs:element name="categorie" type="stringResType80" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- genres specification -->
		<xs:complexType name="genresType">
			<xs:sequence>
				<xs:element name="genre" type="stringResType100" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- broadcaster(s) / omroepen specification -->
		<xs:complexType name="omroepenType">
			<xs:sequence>
				<xs:element name="omroep" type="omroepType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- broadcaster / omroep specification -->
		<xs:complexType name="omroepType">
			<xs:simpleContent>
				<xs:extension base="stringResType100">
					<xs:attribute name="hoofdomroep" use="required" type="xs:boolean"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>

		<!-- broadcaster(s) / omroepen NEBO specification -->
		<xs:complexType name="omroepenNeboType">
			<xs:sequence>
				<xs:element name="omroep" type="omroepNeboType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- broadcaster / omroep NEBO specification -->
		<xs:complexType name="omroepNeboType">
			<xs:simpleContent>
				<xs:extension base="stringResType100">
					<xs:attribute name="hoofdomroep" type="xs:boolean"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>

		<!-- referenties specification -->
		<xs:complexType  name="referentiesType">
			<xs:sequence>
				<xs:element name="referentie" type="referentieType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- referentie specification -->
		<xs:complexType name="referentieType">
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" type="referentieResType" use="required" />
					<xs:attribute name="id" type="IDResType" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>

		<!-- metadata_referenties specification -->
		<xs:complexType name="metadata_referentiesType">
			<xs:sequence>
				<xs:element name="metadata_referentie" type="metadata_referentieType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- metadata_referentie specification -->
		<xs:complexType name="metadata_referentieType">
			<xs:sequence>
				<xs:element name="webonly" type="webonlyRefType" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="aflevering" type="afleveringRefType" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="serie" type="serieType" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="id" type="IDResType" />
		</xs:complexType>

		<!-- metadata_referentie webonlyRef specification -->
		<xs:complexType name="webonlyRefType">
			<xs:sequence>
				<xs:element name="prid" type="WEBPRIDResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="srid" type="IDResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="titel" type="stringResType255" minOccurs="1" maxOccurs="1" />

				<xs:element name="subtitel" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="email" type="emailResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="nicamcodes" type="nicamWarningCodesResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="omschrijving_kort" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="omschrijving_lang" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="website" type="httpURIResType" minOccurs="0" maxOccurs="1" />

				<xs:element name="media" type="mediaType" minOccurs="0" maxOccurs="1" />
				<xs:element name="categorieen" type="categorieenType" minOccurs="0" maxOccurs="1" />
				<xs:element name="genres" type="genresType" minOccurs="0" maxOccurs="1" />
				<xs:element name="omroepen" type="omroepenType" minOccurs="1" maxOccurs="1" />

				<xs:element name="bron" type="stringResType100" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:nonNegativeInteger" use="required" />
		</xs:complexType>

		<!-- metadata_referentie afleveringRef specification -->
		<xs:complexType name="afleveringRefType">
			<xs:sequence>
				<xs:element name="prid" type="IDResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="pridexport" type="IDResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="titel" type="stringResType255" minOccurs="1" maxOccurs="1" />

				<xs:element name="aflnr" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="afltitel" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="bron" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="gids_tekst" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="icon" type="iconFileResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="inbb" type="stringFreeResType" fixed="BB" minOccurs="0" maxOccurs="1" />
				<xs:element name="infi" type="stringFreeResType" fixed="F" minOccurs="0" maxOccurs="1" />
				<xs:element name="inh1" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="inh2" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="inh3" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="inhk" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="kykw" type="nicamWarningCodesResType" minOccurs="0" maxOccurs="1" /> 
				<xs:element name="land" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="lcod" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="mail" type="emailResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="medium" type="mediumResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="orti" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="prem" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
				<xs:element name="psrt" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="webs" type="httpURIResType" minOccurs="0" maxOccurs="1"  />

				<xs:element name="genres" type="genresType" minOccurs="0" maxOccurs="1" />
				<xs:element name="personen" type="personenType" minOccurs="0" maxOccurs="1" />
				<xs:element name="omroepen" type="omroepenNeboType" minOccurs="1" maxOccurs="1" />
				<xs:element name="serie" type="serieType" minOccurs="0" maxOccurs="1" />
				<xs:element name="uitzendingen" type="uitzendingenType" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>

		<!-- metadata_referentie serie specification -->
		<xs:complexType name="serieType">
			<xs:sequence>
				<xs:element name="srid" type="IDResType" minOccurs="1" maxOccurs="1" />
				<xs:element name="titel" type="stringResType255" minOccurs="1" maxOccurs="1" />

				<xs:element name="lexico_titel" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="omschrijving" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="icon" type="iconFileResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="start_jaar" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
				<xs:element name="orti" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="lcod" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="psrt" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="inh1" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="bron" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="inh3" type="stringFreeResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="mail" type="emailResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="webs" type="httpURIResType" minOccurs="0" maxOccurs="1"  />
				<xs:element name="gids_tekst" type="stringFreeResType" minOccurs="0" maxOccurs="1" />

				<xs:element name="genres" type="genresType" minOccurs="0" maxOccurs="1" />
				<xs:element name="omroepen" type="omroepenNeboType" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
																			
		<!-- personen specification -->
		<xs:complexType name="personenType">
			<xs:sequence>
				<xs:element name="persoon" type="persoonType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- persoon specification -->
		<xs:complexType name="persoonType">
			<xs:sequence>
				<xs:element name="rol" type="stringResType100" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="naam" type="stringResType100" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>

		<!-- uitzendingen specification -->
		<xs:complexType name="uitzendingenType">
			<xs:sequence>
				<xs:element name="uitzending" type="uitzendingType" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<!-- uitzending specification -->
		<xs:complexType name="uitzendingType">
			<xs:sequence>
				<xs:element name="gids_datum" type="xs:date" minOccurs="1" maxOccurs="1" />
				<xs:element name="zender" type="zenderType" minOccurs="1" maxOccurs="1" />
				<xs:element name="starttijd" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
				<xs:element name="eindtijd" type="xs:dateTime" minOccurs="1" maxOccurs="1" />

				<xs:element name="herh" type="stringResType255" minOccurs="0" maxOccurs="1" />
				<xs:element name="intt" type="xs:string" minOccurs="0" maxOccurs="1" fixed="T" />
				<xs:element name="inhh" type="xs:string" minOccurs="0" maxOccurs="1" fixed="HH" />
				<xs:element name="type" type="uitzendingResType" minOccurs="0" maxOccurs="1" />
				<xs:element name="volgnummer" type="xs:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
		</xs:complexType>

		<!-- zender specification -->
		<xs:complexType name="zenderType">
			<xs:sequence>
				<xs:element name="code" type="stringResType40" minOccurs="1" maxOccurs="1" />
				<xs:element name="naam" type="stringResType80" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>

	<!-- /Type container specifications -->


	<!-- Restriction specification -->

		<!-- email type -->
		<xs:simpleType name="emailResType">
		  <xs:restriction base="xs:string">
			<xs:pattern value="((\S*\s*)*&lt;(([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+&gt;)|((([a-zA-Z0-9!#$%&amp;'\*\+/=\?\^`\{\}\|~\._-])|(&quot;.+&quot;)|(\\.))+@([a-zA-Z0-9-])+(([a-zA-Z0-9-])*\.([a-zA-Z0-9-])+)+)"/>
			<xs:minLength value="1" />
			<xs:maxLength value="255" />
		  </xs:restriction>
		</xs:simpleType>

		<!-- type for id's (WEBPRID) -->
		<xs:simpleType name="WEBPRIDResType">
			<xs:restriction base="xs:string">
				<xs:pattern value="WO_.*" />
				<xs:minLength value="10" />
				<xs:maxLength value="32" />
			</xs:restriction>
		</xs:simpleType>

		<!-- type for id's (refPRID/SRID) -->
		<xs:simpleType name="IDResType">
			<xs:restriction base="xs:string">
				<xs:minLength value="10" />
				<xs:maxLength value="32" />
			</xs:restriction>
		</xs:simpleType>
		
		<!-- type for string with a maximum length of 255 characters -->
		<xs:simpleType name="stringResType255">
			<xs:restriction base="xs:string">
				<xs:maxLength value="255" />
			</xs:restriction>
		</xs:simpleType>

		<!-- type for string with a maximum length of 100 characters -->
		<xs:simpleType name="stringResType100">
			<xs:restriction base="xs:string">
				<xs:maxLength value="100" />
			</xs:restriction>
		</xs:simpleType>

		<!-- type for string with a maximum length of 80 characters -->
		<xs:simpleType name="stringResType80">
			<xs:restriction base="xs:string">
				<xs:maxLength value="80" />
			</xs:restriction>
		</xs:simpleType>

		<!-- type for string with a maximum length of 40 characters -->
		<xs:simpleType name="stringResType40">
			<xs:restriction base="xs:string">
				<xs:maxLength value="40" />
			</xs:restriction>
		</xs:simpleType>

		<!-- type for string with a minimum length of 1 character -->
		<xs:simpleType name="stringFreeResType">
			<xs:restriction base="xs:string">
				<xs:minLength value="1" />
			</xs:restriction>
		</xs:simpleType>

		<!-- NICAM type -->
		<xs:simpleType name="nicamWarningCodesResType" >
			<xs:restriction base="xs:string">
				<xs:pattern value="[2345]{0,1}[g]{0,1}[s]{0,1}[a]{0,1}[d]{0,1}[h]{0,1}[t]{0,1}" />
				<xs:minLength value="1" />
				<xs:maxLength value="50" />
			</xs:restriction>
		</xs:simpleType>

		<!-- httpURI type -->
		<xs:simpleType name="httpURIResType">
			<xs:restriction base="xs:anyURI">
				<xs:pattern value="(https{0,1})://([a-zA-Z0-9\._-]+)(\.[a-zA-Z]{2,6}(/.*)?)" />
				<xs:minLength value="1" />
				<xs:maxLength value="255" />
			</xs:restriction>
		</xs:simpleType>

		<!-- Stream aspectratio type -->
		<xs:simpleType name="aspectratioResType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="16:9"/>
				<xs:enumeration value="4:3"/>
			</xs:restriction>
		</xs:simpleType>

		<!-- Stream quality type -->
		<xs:simpleType name="qualityResType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="std" />
				<xs:enumeration value="bb" />
				<xs:enumeration value="sb" />
			</xs:restriction>
		</xs:simpleType>

		<!-- Stream format type -->
		<xs:simpleType name="formatResType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="wmv" />
				<xs:enumeration value="mov" />
			</xs:restriction>
		</xs:simpleType>

		<!-- Medium type -->
		<xs:simpleType name="mediumResType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="TV" />
				<xs:enumeration value="Radio" />
				<xs:enumeration value="Podcast" />
			</xs:restriction>
		</xs:simpleType>

		<!-- icon file type, only filename string check -->
		<xs:simpleType name="iconFileResType">
			<xs:restriction base="xs:string">
				<xs:pattern value="(\S*\s*)+.(gif|jpg|jpeg|png|GIF|JPG|JPEG|PNG)" />
			</xs:restriction>
		</xs:simpleType>

		<!-- Referentie type -->
		<xs:simpleType name="referentieResType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="prid"/>
				<xs:enumeration value="srid"/>
				<xs:enumeration value="webprid"/>
			</xs:restriction>
		</xs:simpleType>

		<!-- uitzending type -->
		<xs:simpleType name="uitzendingResType">
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/> <!-- Losstaand programma -->
				<xs:enumeration value="K"/> <!-- Koepel programma -->
				<xs:enumeration value="O"/> <!-- Onderdeel van koepel -->
			</xs:restriction>
		</xs:simpleType>

	<!-- /Restriction specification -->

</xs:schema>