media-domain/src/main/resources/nl/vpro/domain/media/search/vproMediaSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="urn:vpro:media:search:2012"
           xmlns="urn:vpro:media:search:2012"
           xmlns:media="urn:vpro:media:2009"
           xmlns:shared="urn:vpro:shared:2009"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:import namespace="urn:vpro:shared:2009" schemaLocation="../vproShared.xsd"/>
  <xsd:import namespace="urn:vpro:media:2009"  schemaLocation="../vproMedia.xsd"/>

  <xsd:element name="mediaForm" type="mediaFormType" />

  <xsd:element name="list" type="mediaListResultType"/>

  <xsd:complexType name="mediaFormType">
    <xsd:annotation>
      <xsd:documentation>

      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pager" type="mediaPagerType"/>
      <xsd:element type="xsd:string" name="broadcaster" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element type="xsd:string" name="portal" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element type="media:organizationIdType" minOccurs="0" name="organization" maxOccurs="unbounded"/>
      <xsd:element type="xsd:string"  name="text" minOccurs="0"/>
      <xsd:element name="title" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string" >
              <xsd:attribute name="type" type="media:textualTypeEnum"/>
              <xsd:attribute name="owner" type="shared:ownerTypeEnum"/>
              <xsd:attribute name="tokenized" type="xsd:boolean" default="false"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element type="media:mediaTypeEnum"  name="type" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="releaseYear" type="xsd:short" minOccurs="0" />
      <xsd:element name="relation"    type="relationFormType" minOccurs="0" />
      <xsd:element name="noBroadcast" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="scheduleEventsCount" type="integerRangeType" minOccurs="0"/>
      <xsd:element name="hasLocations" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Whether it should only return media object which does have location. Note that the same can be accomplished with 'locationsCount', and this element is considered deprecated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="locationsCount" type="integerRangeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Constraint the number of locations.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="noPlaylist" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Whether it should only return media object which are not a a member of any other object.
            Note that the same can be accomplished with 'memberOfCount', and this element is considered deprecated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="memberOfCount" type="integerRangeType" minOccurs="0"/>
      <xsd:element name="sortRange" type="dateRangeType" minOccurs="0"/>
      <xsd:element name="eventRange" type="dateRangeType" minOccurs="0"/>
      <xsd:element name="scheduleEventRange" type="dateRangeType" minOccurs="0"/>
      <xsd:element name="channel" type="media:channelEnum" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="net" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="createdBy" type="editorSearch" minOccurs="0"/>
      <xsd:element name="creationRange" type="dateRangeType" minOccurs="0"/>
      <xsd:element name="lastModifiedBy" type="editorSearch" minOccurs="0"/>
      <xsd:element name="lastModifiedRange" type="dateRangeType" minOccurs="0"/>
      <xsd:element name="lastPublishedRange" type="dateRangeType" minOccurs="0"/>
      <xsd:element name="tag" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="avType" type="media:avTypeEnum" minOccurs="0" />
      <xsd:element name="notAnEpisode" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="episodeOfCount" type="integerRangeType" minOccurs="0"/>
      <xsd:element name="noMembers" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="noCredits" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="imagesWithoutCreditsCount" type="integerRangeType" minOccurs="0"/>
      <xsd:element name="imagesCount" type="integerRangeType" minOccurs="0"/>
      <xsd:element name="findDeleted" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="excludedMid" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ids" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="descendantOf" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="streamingPlatformStatus" type="media:streamingStatus" minOccurs="0" maxOccurs="unbounded"/>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="mediaPagerType">
    <xsd:annotation>
      <xsd:documentation>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="offset" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="max" minOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="sort" type="mediaSortField" minOccurs="0"/>
      <xsd:element name="order" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ASC"/>
            <xsd:enumeration value="DESC"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="mediaSortField">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="sortTitle"/>
      <xsd:enumeration value="mid"/>
      <xsd:enumeration value="type"/>
      <xsd:enumeration value="mediaType"/>
      <xsd:enumeration value="sortDate"/>
      <xsd:enumeration value="lastModified"/>
      <xsd:enumeration value="creationDate"/>
      <xsd:enumeration value="publishStop"/>
      <xsd:enumeration value="publishStart"/>
      <xsd:enumeration value="lastPublished"/>
      <xsd:enumeration value="lastModifiedBy"/>
      <xsd:enumeration value="createdBy"/>
      <xsd:enumeration value="locations"/>
      <xsd:enumeration value="memberofCount"/>
      <xsd:enumeration value="episodeofCount"/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:complexType name="relationFormType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="type" type="xsd:string" />
        <xsd:attribute name="broadcaster" type="media:organizationIdType"/>
        <xsd:attribute name="uriRef" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>


  <xsd:complexType name="integerRangeType">
    <xsd:sequence>
      <xsd:element name="start" type="integerRangeValueType" minOccurs="0"/>
      <xsd:element name="stop" type="integerRangeValueType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="integerRangeValueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="inclusive" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="dateRangeType">
    <xsd:sequence>
      <xsd:element name="start" type="dateRangeValueType" minOccurs="0"/>
      <xsd:element name="stop" type="dateRangeValueType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="dateRangeValueType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="inclusive" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="mediaListResultType">
    <xsd:sequence>
      <xsd:element type="mediaListItem" name="item" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="totalCount" type="xsd:long" />
    <xsd:attribute name="offset" type="xsd:long"/>
    <xsd:attribute name="max" type="xsd:integer"/>
    <xsd:attribute name="size" type="xsd:integer"/>
    <xsd:attribute name="sort" type="xsd:string"/>
    <xsd:attribute name="order">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ASC"/>
          <xsd:enumeration value="DESC"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="mediaListItem">
    <xsd:complexContent>
      <xsd:extension base="publishableListItem">
        <xsd:sequence>
         <xsd:element name="broadcaster" type="media:organizationType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="title" type="xsd:string" minOccurs="0"/>
          <xsd:element name="subTitle" type="xsd:string" minOccurs="0"/>
          <xsd:element name="description" type="xsd:string" minOccurs="0"/>
          <xsd:element name="creationDate" type="xsd:dateTime" />
          <xsd:element name="lastModified" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="createdBy" type="xsd:string" />
          <xsd:element name="lastModifiedBy" type="xsd:string" minOccurs="0"/>
          <xsd:element name="sortDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="type" type="media:mediaTypeEnum" />
          <xsd:element name="publishStart" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="publishStop" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="lastPublished" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="firstScheduleEvent" type="media:scheduleEventType" minOccurs="0"/>
          <xsd:element name="firstScheduleEventNoRerun" type="media:scheduleEventType" minOccurs="0"/>
          <xsd:element name="lastScheduleEvent" type="media:scheduleEventType" minOccurs="0"/>
          <xsd:element name="lastScheduleEventNoRerun" type="media:scheduleEventType" minOccurs="0"/>
          <xsd:element name="sortDateScheduleEvent" type="media:scheduleEventType" minOccurs="0"/>
          <xsd:element name="locations" type="media:locationType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="numberOfLocations" type="xsd:int" minOccurs="0"/>
          <xsd:element name="numberOfPublishedLocations" type="xsd:int" minOccurs="0"/>
          <xsd:element name="tag" type="media:tagType" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="image" type="imageListItem" minOccurs="0"/>
          <xsd:element name="streamingPlatformStatus" type="media:streamingStatus" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="mid" type="xsd:string"/>
        <xsd:attribute name="avType" type="media:avTypeEnum"/>
        <xsd:attribute name="mediaType" type="xsd:string"/>
        <xsd:attribute name="episodesLocked" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="publishableListItem" abstract="true">
    <xsd:sequence/>
    <xsd:attribute name="id" type="xsd:long"/>
    <xsd:attribute name="urn" type="xsd:string"/>
    <xsd:attribute name="workflow" type="shared:workflowEnumType"/>
    <xsd:attribute name="deleted" type="xsd:boolean"/>
  </xsd:complexType>

  <xsd:complexType name="imageListItem">
    <xsd:complexContent>
      <xsd:extension base="publishableListItem">
        <xsd:sequence/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="editorSearch">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="principalId" type="xsd:boolean"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
