api-domain/src/main/resources/xsds/api_profile_2013.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:vpro:api:profile:2013" xmlns="urn:vpro:api:profile:2013"
           xmlns:shared="urn:vpro:shared:2009"
           xmlns:page="urn:vpro:api:constraint:page:2013" xmlns:media="urn:vpro:api:constraint:media:2013"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="urn:vpro:api:constraint:media:2013" schemaLocation="api_constraint_media_2013.xsd"/>

  <xs:import namespace="urn:vpro:api:constraint:page:2013" schemaLocation="api_constraint_page_2013.xsd"/>

  <xs:element name="profile" type="profileType"/>

  <xs:complexType name="profileType">
    <xs:sequence>
      <xs:element name="pageProfile" type="profileDefinitionType" minOccurs="0"/>
      <xs:element name="mediaProfile" type="profileDefinitionType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="timestamp" type="xs:dateTime"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="profileDefinitionType">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element ref="media:filter"/>
        <xs:element ref="page:filter"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="since" type="xs:dateTime"/>
  </xs:complexType>
</xs:schema>

