api-domain/src/main/resources/xsds/secondscreen_2015.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="urn:vpro:secondscreen:2015" xmlns:shared="urn:vpro:shared:2009" xmlns:tns="urn:vpro:secondscreen:2015" xmlns:screen="urn:vpro:secondscreen:2015" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:vpro:media:2009">

  <xs:import namespace="urn:vpro:media:2009" schemaLocation="https://poms.omroep.nl/schema/vproMedia.xsd"/>

  <xs:import namespace="urn:vpro:shared:2009" schemaLocation="https://poms.omroep.nl/schema/vproShared.xsd"/>

  <xs:element name="screen" type="tns:screenType"/>

  <xs:complexType name="screenType">
    <xs:complexContent>
      <xs:extension base="shared:publishableObjectType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
          <xs:element name="url" type="xs:anyURI" minOccurs="0"/>
          <xs:element name="screenOf" type="tns:mediaRefType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="images" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="shared:image" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="sid" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="mediaRefType">
    <xs:sequence/>
    <xs:attribute name="midRef" type="xs:string"/>
    <xs:attribute name="type" type="ns1:mediaTypeEnum"/>
  </xs:complexType>
</xs:schema>

