REL-4.8-SNAPSHOT/media-domain/src/main/resources/nl/vpro/domain/media/vproShared.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="urn:vpro:shared:2009" xmlns="urn:vpro:shared:2009" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element type="imageType" name="image"/>

  <xs:attributeGroup name="publishableAttributesGroup">
    <xs:attribute name="urn" type="xs:anyURI"/>
    <xs:attribute name="publishStart" type="xs:dateTime"/>
    <xs:attribute name="publishStop" type="xs:dateTime"/>
    <xs:attribute name="publishDate" type="xs:dateTime"/>
    <xs:attribute name="creationDate" type="xs:dateTime"/>
    <xs:attribute name="lastModified" type="xs:dateTime"/>
    <xs:attribute name="workflow" type="workflowEnumType"/>
  </xs:attributeGroup>


  <xs:complexType name="publishableObjectType" abstract="true">
    <xs:attributeGroup ref="publishableAttributesGroup"/>
  </xs:complexType>

  <xs:simpleType name="workflowEnumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DRAFT"/>
      <xs:enumeration value="FOR APPROVAL"/>
      <xs:enumeration value="REFUSED"/>
      <xs:enumeration value="FOR PUBLICATION"/>
      <xs:enumeration value="FOR REPUBLICATION"/>
      <xs:enumeration value="PUBLISHED"/>
      <xs:enumeration value="PARENT REVOKED"/>
      <xs:enumeration value="REVOKED"/>
      <xs:enumeration value="FOR DELETION"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="MERGED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="imageType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
      <xs:element type="xs:anyURI" name="imageUri" minOccurs="0"/>
      <xs:element name="offset" type="xs:duration" form="qualified" minOccurs="0"/>
      <xs:element type="xs:positiveInteger" name="height" minOccurs="0"/>
      <xs:element type="xs:positiveInteger" name="width" minOccurs="0"/>
      <xs:element type="xs:string" name="credits" minOccurs="0"/>
      <xs:element name="source" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element type="xs:string" name="date" minOccurs="0"/>

    </xs:sequence>
    <xs:attribute type="imageTypeEnum" name="type"/>
    <xs:attribute type="ownerTypeEnum" name="owner" use="required"/>
    <xs:attribute type="xs:boolean" name="highlighted" default="false" />
    <xs:attributeGroup ref="publishableAttributesGroup"/>
  </xs:complexType>

  <xs:simpleType name="imageTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PICTURE"/>
      <xs:enumeration value="PORTRAIT"/>
      <xs:enumeration value="STILL"/>
      <xs:enumeration value="LOGO"/>
      <xs:enumeration value="ICON"/>
      <xs:enumeration value="PROMO_LANDSCAPE"/>
      <xs:enumeration value="PROMO_PORTRAIT"/>
      <xs:enumeration value="BACKGROUND"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ownerTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BROADCASTER"/>
      <xs:enumeration value="RADIOBOX"/>
      <xs:enumeration value="NEBO"/>
      <xs:enumeration value="MIS"/>
      <xs:enumeration value="CERES"/>
      <xs:enumeration value="PLUTO"/>
      <xs:enumeration value="PROJECTM"/>
      <xs:enumeration value="WHATS_ON"/>
      <xs:enumeration value="IMMIX"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
